body{
    text-align: center;
    background:linear-gradient(  to right,purple,red,purple);
    background-repeat: none;
}
#web{
    height:200px;
    width:200px;
    border-radius:20%;
    transition:transform.2s;
    border:solid;
    border-color:white;
}
#web:hover{
    transform:scale(0.9)
}
marquee{
    background-color:black;
    border:solid;
    border-top: white;
    color:white;
    height:40px;
    font-size:30px;
    font-weight:bold;
    text-decoration:underline;
    margin:5px;
    border-top: solid;
    border-top-color:white;
}
input{
    height:30px;
    width:200px;
    background-color: white;
    font-weight:bold;
    border:solid;
    margin-top:5px;
    margin-top:-2px;
    border-width:3px;
}
button{
    font-weight:bold;
    border:solid;
    height:40px;
    background-color:orange;
    transition:transform.2s;
    margin-top:5px;
    margin-top:-2px;
    font-weight:bold;
    border-width:3px;
}
button:hover{
    transform:scale(0.9);
}
img{
    height:200px;
    width: 140px;
    border:solid;
    border-color:black;
    transform: transition.2s;
    border-width:3px;
}
img:hover{
    transform: scale(0.9);
}
section{
    border:solid;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    margin-bottom:5px;
    border-width:3px;
}